<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2015, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ you may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

   <AppManagementConfig>
      {% if app_management_conf is defined %}
      <Enabled>{{app_management_conf.enable}}</Enabled>
      <AppManagerUrl>{{app_management_conf.app_manager_url}}</AppManagerUrl>
      <ConsumerKey>{{app_management_conf.consumer_key}}</ConsumerKey>
      <ConsumerSecret>{{app_management_conf.consumer_secret}}</ConsumerSecret>
      {% else %}
      <Enabled>true</Enabled>
      <AppManagerUrl>http:/www.google.com</AppManagerUrl>
      <ConsumerKey>http:/www.google.com</ConsumerKey>
      <ConsumerSecret>http:/www.google.com</ConsumerSecret>
      {% endif %}
   </AppManagementConfig>
