<?xml version="1.0" encoding="ISO-8859-1"?>

<!--
~ Copyright (c) 2021, Entgra (Pvt) Ltd. (http://www.entgra.io) All Rights Reserved.
~
~ Entgra (Pvt) Ltd. licenses this file to you under the Apache License,
~ Version 2.0 (the "License"); you may not use this file except
~ in compliance with the License.
~ You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing,
~ software distributed under the License is distributed on an
~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~ KIND, either express or implied. See the License for the
~ specific language governing permissions and limitations
~ under the License.
-->

<GrafanaConfiguration>
	<Cache>
		<CacheConfiguration name="queryAPICache">
			<Capacity>100</Capacity>
		</CacheConfiguration>
		<CacheConfiguration name="encodedQueryCache">
			<Capacity>100</Capacity>
		</CacheConfiguration>
	</Cache>
	<AdminUser>
		<!-- properties can be listed and can be picked up in the relevant implementation class as required-->
		<Username>admin</Username>
		<Password>admin</Password>
	</AdminUser>
</GrafanaConfiguration>
