{{#zone "content"}}
{{!--#if isAuthorized--}}
    {{#defineZone "policy-profile-top"}}
        <div class="row wr-device-board">
            <div class="col-lg-12 wr-secondary-bar">
                <label id="policy-heading" class="device-id device-select">
                </label>
            </div>
        </div>
    {{/defineZone}}

    <!-- #page-content-wrapper -->
    <div class="page-content-wrapper">
        <div class="row no-gutter add-padding-5x add-margin-top-5x" style="border: 1px solid #e4e4e4;">
            <div class="media">
                <div style="background: #008cc4; color: #fff; padding: 10px; margin-bottom: 5px">
                    Policy Overview
                </div>
                {{#defineZone "policy-detail-properties"}}
                    <table class="table table-responsive table-striped" id="members">
                        <tbody>
                        <tr role="row" class="even">
                            <td class="sorting_1" style="padding:10px 15px; width: 14%;">Platform</td>
                            <td id="policy-platform" style="padding:10px 15px;"></td>
                        </tr>
                        <tr role="row" class="odd">
                            <td class="sorting_1" style="padding:10px 15px;">Groups</td>
                            <td id="policy-groups" style="padding:10px 15px;"></td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="sorting_1" style="padding:10px 15px;">Action upon non-compliance</td>
                            <td id="policy-action" style="padding:10px 15px;"></td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="sorting_1" style="padding:10px 15px;">Status</td>
                            <td id="policy-status" style="padding:10px 15px;"></td>
                        </tr>
                        <tr role="row" id="users-row" class="even">
                            <td class="sorting_1" style="padding:10px 15px;">Assigned Users</td>
                            <td id="policy-users" style="padding:10px 15px;"></td>
                        </tr>
                        <tr role="row" id="roles-row" class="even">
                            <td class="sorting_1" style="padding:10px 15px;">Assigned Roles</td>
                            <td id="policy-roles" style="padding:10px 15px;"></td>
                        </tr>
                        </tbody>
                    </table>
                {{/defineZone}}
                <div style="background: #008cc4; color: #fff; padding: 10px; margin-bottom: 5px">Description
                </div>
                <div class="add-margin-top-4x">
                    <div id="policy-description" class="panel-title-description"></div>
                </div>
                <br>
                <div style="background: #008cc4; color: #fff; padding: 10px; margin-bottom: 5px">
                    Profile Information
                </div>
                <div class="add-margin-top-4x">
                    <div id="policy-profile-main-error-msg" class="alert alert-danger hidden" role="alert">
                        <i class="icon fw fw-error"></i><span></span>
                    </div>
                    <div class="wr-advance-operations">
                        <div class='wr-advance-operations-init'>
                            <br/>
                            <i class='fw fw-settings fw-spin fw-2x'></i>
                            Loading Platform Features . . .
                            <br/>
                            <br/>
                        </div>
                        <div id="device-type-policy-operations" class="hidden">
                        </div>
                        <div id="generic-policy-operations" class="hidden">
                            {{unit "cdmf.unit.device.type.generic.policy-wizard"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/zone}}
{{#zone "bottomJs"}}
    {{js "js/view.js"}}
{{/zone}}